fastapi
pydantic
uvicorn
h11==0.16.0
absl-py
google-cloud
google-cloud-logging
pandas
google-api-core
google-cloud-aiplatform>=1.49
SQLAlchemy
pg8000
pgvector
gspread
tenacity
mimetype
google-api-python-client
